- [ ] notifications (done)
- [ ] wallet page (done)
- [ ] payment process (orders) (done)
- [ ] expert rating (done)
- [ ] order rating (done)
- [ ] chat process (done)
- [ ] upgrade to premium (done)
- [ ] contract process (needs more information)
- [ ] about us page
- [ ] skills are a part of specialities
