- [ ] notifications (done)
- [ ] wallet page (done)
- [ ] payment process (orders) (done)
- [ ] expert rating (done)
- [ ] order rating (done)
- [ ] about us page
- [ ] chat process
- [ ] contract process (needs more information)
- [ ] upgrade to premium
- [ ] ad section in home page
- [ ] skills are a part of specialities
- [ ] navbar specialities dropdown
